
#wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#main-section{
    order: 1;
    /* order 번호가 낮을수록 먼저 실행됨 */
    width: 100%;
    background-color: #183786;
}
.page-title{
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc( 100% - 100px );
    padding: 5% 50px;
    max-width: 1000px;
    margin: 0 auto;
}

#image-section{
    width: 100%;
    align-items: center;
    justify-items: center;
    display: flex;
}

.image_wrap{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.imgb1{
    width: 36%;
    background-color: hotpink;
}
.imgb2{
    width: 64%;
    background: #478899;
}
.image-box{
    height: 350px;
}

/* 태블릿 */
@media all and (min-width: 780px){
    html{ font-size: 20px; }
}
/* PC */
@media all and (min-width : 960px){
    html{ font-size: 24px; }
}