@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare', sans-serif;
    position: relative;
    background-image: url(../연습/img/배경.jpg);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.top_menu {
    border-bottom: 1px solid lightgray;
}

.all_header {
    width: 1400px;
    margin: 0 auto;
}

.header0 {
    width: 100%;
}

/* .header{
    flex-basis: 10%;
    color: #fff;
    border-top: gray;
    border-bottom: gray;
    margin-left: 50px;
} */
.bt1 {
    float: left;
    width: 120px;
    height: 43px;
    border: 0px;
    background-color: #005AAE;
    font-weight: bold;
    color: white;
}

.bt1:hover {
    cursor: pointer;
}

#logo_menu_wrap {
    border-bottom: 1px solid lightgray;
    display: flex;
}

#logo_menu {
    width: 1400px;
    height: 120px;
    display: flex;
    margin: 0 auto;
}

#logo {
    width: 262px;
    height: 120px;
    color: white;
    font-weight: 800;
}

#logo img {
    width: 262px;
    height: 120px;
}

#logo img:hover {
    cursor: pointer;
}

#menu {
    width: 1400px;
    height: 110px;
    position: relative;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#main_menu {
    list-style: none;
    width: 1000px;
    position: relative;
}

#main_menu>li {
    width: 200px;
    float: left;
    line-height: 120px;
    text-align: center;
    position: relative;
    /* color: white; */
    font-weight: bold;
    font-family: 'NanumSquare', sans-serif;
    font-size: 22px;
}
#main_menu>p{
    width: 200px;
    float: left;
    line-height: 115px;
    text-align: center;
    position: relative;
    /* color: white; */
    font-weight: bold;
    font-family: 'NanumSquare', sans-serif;
    font-size: 22px;
}
#main_menu>li:hover {
    color: white;
    cursor: pointer;
    transition: all 0.8s ease-out;
}

#main_menu .sub {
    /* display: none; => 브라우저에서 어떻게 보이게 할거냐? (안보임) */
    display: none;
}

#main_menu:hover .sub {
    display: block;
    background: #005AAE;
    opacity: 0.8;
    height: 300px;
    color: white;
    font-family: 'NanumSquare', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}
#main_menu:hover .sub li{
    line-height: 70px;
}
#global_wrap{
    /* width: 1000px; */
    margin: 0 auto;
    height: 120px;
}
#util{
    width: 300px;
    list-style-type: none;
}
#util li{
    float: left;
    padding: 0 11px;
    color: white;
    font-size: 14px;
    border-left: 1px solid#c4deff;
    margin-top: 40px;
}
a{
    text-decoration: none;
    color: white;
}
#util li:nth-child(1){
    border: 0px;
}
/* ==================센터=================== */
.center{
    flex-basis: 60%;
    /* 아이템도 flex가 될 수 있다. */
    display: flex;
    justify-content: space-between;
}
.footer{
    flex-basis: 20%;
    color: #fff;
}
.section{
    flex-basis: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5%;
}
.section img{
    width: 1900px;
}
.article{
    flex-basis: 100%;
}