/* 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input_warp{
    display: flex;
    width: 700px;
    margin: 0 auto;
    align-items: center;
}
.input_warp input{
    margin-right: 10px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.add_bt_warp{
    width: 700px;
    margin: 0 auto;
} */

