h1{
    text-align: center;
    text-shadow: 3px 3px 7px;
    font-family: 굴림;
}
#yun{
    margin: auto;
    width: 800px;
    height: 30px;
    padding-bottom: 3px;
    font-family: 굴림;
}
#yun tr th{
    border: 1px solid black;
    text-align: center;
    width: 100px;
    background-color: lightblue;
    text-shadow: 3px 3px 7px;
}
#yun tr td{
    border: 1px solid black;
    text-align: center;
    width: 300px;
    height: 30px;
}
#do{
    margin: auto;
    text-align: center;
    width: 800px;
    height: 30px;
    font-family: 굴림;
}
#do tr th{
    border: 1px solid black;
    width: 600px;
    background-color: lightblue;
    text-shadow: 3px 3px 7px;
}
#do tr td{
    border: 1px solid black;
    width: 800px;
    height: 30px;
}