#a{
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 30px;
    list-style: none;
}
.chl {
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 30px;
    text-align: right;
}
.dbs{
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}
.dbs span:hover{
    background-color: #999;
    font-weight: bold;
}
.eh{
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 30px;
    color: white bold;
    font-size: 15pt;
    background-color: rgb(0,100,204);
}
.zld td{
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 30px;
}
.dhkd td{
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 30px;
}
.wkd td{
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 30px;
}
.animal img{
    width: 350px;
    display: block; margin: 0px auto;
}
.yun td{
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 100px;
}
.공지사항{
    border: 1px solid black;
    width: 900px;
    height: 100px;

}
.공지{
    border: 1px solid black;
}
.공지뉴스{
    border-bottom: 1px solid black;
    margin: 10%;
}
.공지:hover:before{
    border: none;
    margin: none;
}
.공지:hover{
    border: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
    background-color: aqua;
}
.뉴스:hover{
    border: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
.choi td{
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 30px;
}
.do td{
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 30px;
}
.title td{
    margin: auto;
    width: 900px;
    height: 30px;
    text-align: right;
}
.eh ul li{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 50px;
}
.eh ul li:hover{
    list-style-type: none;
    background-color: rgb(178,235,244);
    color: black;
}
.eh{
    padding-left: 0;
}
#aaa{
    margin: 0px;
    padding: 0px;
}