
body, div, input, button{
    margin: 0;
    padding: 0;
}

#mask{
    width: 100%;
    height: auto;
    font-size: 12pt;
    color: black;
}
#search_wrap{
    width: 1000px;
    height: 80px;
    margin: 0 auto;
}
#menu_wrap{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
#wrap{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    display:flex;
}

.search_form{
    width: 100%;
    height: 50px;
    padding: 20px 0 10px 0;  /* 위, 우, 아래, 좌 */
    display:flex; /* 부모 태그에 넣어야 자식 태그가 가로로 나열됨. */
}
.logo{
    width: 200px;
    font-size: 40px;
    color: #19ce60;
    font-weight: bold;
    /* float:left; */
}
.logo:hover{ cursor: pointer;}
/* .search_input{
    padding-top: 10px;
} */
#search_word{
    height: 40px;
    width: 400px;
    font-size: 35px;
    /* border: 2px solid #19ce60; */
    /* border-radius: 5px; */
}
/* .search_bt{
    padding-top: 10px;
} */
.search_bt>button{
    height: 40px;
    width: 100px;
    font-size: 25px;
    border:0;
    background: #19ce60;
    /* border-radius: 5px; */
    color: white;
}
.search_bt>button:hover{
    cursor: pointer;
}
.search{
    display:flex;
    border: 2px solid #19ce60;
    margin-top: 6px;
    height: 40px;
}

.menu_list{
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}
#menu_ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 1000px;
    height: 30px;
    font-size: 15px;
    font-weight: 800; /* 글씨 굵기 */
}
.menu_nav{
    float:left;  /* 글씨 정렬 왼쪽 */
    display: inline; /* 너비값이 각자 글씨 크기만큼으로 변경됨. */
    margin-right: 20px; /* 모든 간격이 동일하게 하기 위해 디스플레이 후 마진 오른쪽 간격 */

    /* width: calc( 1000 / 10 * 1px ); /* 전체 넓이 퍼센트에서 10%를 부여하여 간격을 넓힘 10%*/
    /* calc( 1000 / 10 * 1px ) <-- 나누기로 표현할 수도 있음. (나누기 태그)
       calc(전체넓이 / li갯수 * 크기? ※ 사칙연산 사이에 반드시 띄어쓰기 필수 */

    height: 30px;
    line-height: 30px;  /* 수직에 가운데로 오게끔 함.  (height, line-height */
    color: #19ce60;
}
.menu_nav:hover{ cursor: pointer;}

#contents{
    background-color: #d1b2ff;
    width: 700px;
    height: 800px;
    margin-right: 20px;
}
#sub{
    background-color: #FAF4C0;
    width: 280px;
    height: 800px;
}